<div class="explanation">
    <h2 id="forms-control-validation" >校验状态</h2>
</div>
<div class="bs-example">
<% include forms-control-validation-markup-1.html %>
</div>
<%- includeMDJs('components/Form/forms-control-validation-markup-1.html') %>



<div class="explanation">
    <h3>添加额外的图标</h3>
    <p>你还可以针对校验状态为输入框添加额外的图标。只需设置相应的 <code>.has-feedback</code> 类并添加正确的图标即可。</p>
</div>
<div class="bs-example">
<% include forms-control-validation-markup-2.html %>
</div>
<%- includeMDJs('components/Form/forms-control-validation-markup-2.html') %>


<div class="explanation">
    <h4>为水平排列的表单和内联表单设置可选的图标</h4>
</div>
<div class="bs-example">
<% include forms-control-validation-markup-3.html %>
</div>
<%- includeMDJs('components/Form/forms-control-validation-markup-3.html') %>


<div class="explanation">
    <h4>可选的图标与设置 <code>.sr-only</code> 类的 <code>label</code> </h4>
    <p>通过为 <code>label</code> 元素添加 <code>.sr-only</code> 类，可以让表单控件的 <code>label</code> 元素不可见。在这种情况下，Bootstrap 将自动调整图标的位置。</p>
</div>
<div class="bs-example">
<% include forms-control-validation-markup-4.html %>
</div>
<%- includeMDJs('components/Form/forms-control-validation-markup-4.html') %>

