<div class="explanation">
    <h2 id="forms-control-sizes" >控件尺寸</h2>
    <p>通过 <code>.input-lg</code> 类似的类可以为控件设置高度，通过 <code>.col-lg-*</code> 类似的类可以为控件设置宽度。</p>
    <h3>高度尺寸</h3>
    <p>创建大一些或小一些的表单控件以匹配按钮尺寸。</p>
</div>
<div class="bs-example">
<% include forms-control-sizes-markup-1.html %>
</div>
<%- includeMDJs('components/Form/forms-control-sizes-markup-1.html') %>

<div class="explanation">
    <h3>水平排列的表单组的尺寸</h3>
    <p>通过添加 <code>.form-group-lg</code> 或 <code>.form-group-sm</code> 类，为 <code>.form-horizontal</code> 包裹的 <code>label</code> 元素和表单控件快速设置尺寸。</p>
</div>
<div class="bs-example">
<% include forms-control-sizes-markup-2.html %>
</div>
<%- includeMDJs('components/Form/forms-control-sizes-markup-2.html') %>

<div class="explanation">
    <h3>调整列（column）尺寸</h3>
    <p>用栅格系统中的列（column）包裹输入框或其任何父元素，都可很容易的为其设置宽度。</p>
</div>
<div class="bs-example">
<% include forms-control-sizes-markup-3.html %>
</div>
<%- includeMDJs('components/Form/forms-control-sizes-markup-3.html') %>

