<form role="form">
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> <span>1</span>
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> <sapn>2</sapn>
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> <span>3</span>
    </label>
</form>
<br>
<form role="form">
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> <span>1</span>
    </label>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> <span>2</span>
    </label>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> <span>3</span>
    </label>
</form>
