<div class="explanation">
    <h2  id="forms-control-disabled">被禁用的输入框</h2>
    <p>为输入框设置 <code>disabled</code> 属性可以防止用户输入，并能对外观做一些修改，使其更直观。</p>
</div>
<div class="bs-example">
<% include forms-control-disabled-markup-1.html %>
</div>
<%- includeMDJs('components/Form/forms-control-disabled-markup-1.html') %>


<div class="explanation">
    <h3>被禁用的 <code>fieldset</code></h3>
    <p>为<code>&lt;fieldset&gt;</code> 设置 <code>disabled</code> 属性,可以禁用 <code>&lt;fieldset&gt;</code> 中包含的所有控件。</p>
</div>
<div class="bs-example">
<% include forms-control-disabled-markup-2.html %>
</div>
<%- includeMDJs('components/Form/forms-control-disabled-markup-2.html') %>

