<input type="text" class="form-control" value="oran">
<ul class="list-group">
    <li class="list-group-item" item-key="1"> apple </li>
    <li class="list-group-item" item-key="2"> banana</li>
    <li class="list-group-item active" item-key="3"> orange </li>
    <li class="list-group-item" item-key="4"> chess </li>
    <li class="list-group-item" item-key="5"> durian</li>
    <li class="list-group-item" item-key="6"> egg</li>
    <li class="list-group-item" item-key="7"> fruit </li>
    <li class="list-group-item" item-key="8"> grape </li>
    <li class="list-group-item" item-key="9"> pear </li>
    <li class="list-group-item" item-key="10"> peach </li>
</ul>
