<h1 id="fontIcon">字体图标</h1>
<div class="explanation">
    <p>点击一下对应的图标就可以复制对应图标的class。使用时给元素添加class就可以了。暂时有29个</p>
</div>
<div class="bs-example">
<div class="font-icon row">
    <div class="col-xs-6"><i class="icon-help_outline" data-clipboard-text="icon-help_outline"></i><span>icon-help_outline</span></div>
    <div class="col-xs-6"><i class="icon-search2" data-clipboard-text="icon-search2"></i><span>icon-search2</span></div>
    <div class="col-xs-6"><i class="icon-star" data-clipboard-text="icon-star"></i><span>icon-star</span></div>
    <div class="col-xs-6"><i class="icon-stop" data-clipboard-text="icon-stop"></i><span>icon-stop</span></div>
    <div class="col-xs-6"><i class="icon-chevron-right" data-clipboard-text="icon-chevron-right"></i><span>icon-chevron-right</span></div>
    <div class="col-xs-6"><i class="icon-chevron-down" data-clipboard-text="icon-chevron-down"></i><span>icon-chevron-down</span></div>
    <div class="col-xs-6"><i class="icon-square-o" data-clipboard-text="icon-square-o"></i><span>icon-square-o</span></div>
    <div class="col-xs-6"><i class="icon-exchange" data-clipboard-text="icon-exchange"></i><span>icon-exchange</span></div>
    <div class="col-xs-6"><i class="icon-angle-double-right" data-clipboard-text="icon-angle-double-right"></i><span>icon-angle-double-right</span></div>
    <div class="col-xs-6"><i class="icon-angle-right" data-clipboard-text="icon-angle-right"></i><span>icon-angle-right</span></div>
    <div class="col-xs-6"><i class="icon-angle-down" data-clipboard-text="icon-angle-down"></i><span>icon-angle-down</span></div>
    <div class="col-xs-6"><i class="icon-exclamation" data-clipboard-text="icon-exclamation"></i><span>icon-exclamation</span></div>
    <div class="col-xs-6"><i class="icon-play-circle" data-clipboard-text="icon-play-circle"></i><span>icon-play-circle</span></div>
    <div class="col-xs-6"><i class="icon-minus-square-o" data-clipboard-text="icon-minus-square-o"></i><span>icon-minus-square-o</span></div>
    <div class="col-xs-6"><i class="icon-toggle-down" data-clipboard-text="icon-toggle-down"></i><span>icon-toggle-down</span></div>
    <div class="col-xs-6"><i class="icon-long-arrow-down" data-clipboard-text="icon-long-arrow-down"></i><span>icon-long-arrow-down</span></div>
    <div class="col-xs-6"><i class="icon-long-arrow-up" data-clipboard-text="icon-long-arrow-up"></i><span>icon-long-arrow-up</span></div>
    <div class="col-xs-6"><i class="icon-check-square-o" data-clipboard-text="icon-check-square-o"></i><span>icon-check-square-o</span></div>
    <div class="col-xs-6"><i class="icon-equals" data-clipboard-text="icon-equals"></i><span>icon-equals</span></div>
    <div class="col-xs-6"><i class="icon-drag_handle" data-clipboard-text="icon-drag_handle"></i><span>icon-drag_handle</span></div>
    <div class="col-xs-6"><i class="icon-warning-outline" data-clipboard-text="icon-warning-outline"></i><span>icon-warning-outline</span></div>
    <div class="col-xs-6"><i class="icon-chevron-left" data-clipboard-text="icon-chevron-left"></i><span>icon-chevron-left</span></div>
    <div class="col-xs-6"><i class="icon-angle-left" data-clipboard-text="icon-angle-left"></i><span>icon-angle-left</span></div>
    <div class="col-xs-6"><i class="icon-check" data-clipboard-text="icon-check"></i><span>icon-check</span></div>
    <div class="col-xs-6"><i class="icon-close" data-clipboard-text="icon-close"></i><span>icon-close</span></div>
    <div class="col-xs-6"><i class="icon-plus" data-clipboard-text="icon-plus"></i><span>icon-plus</span></div>
    <div class="col-xs-6"><i class="icon-minus" data-clipboard-text="icon-minus"></i><span>icon-minus</span></div>
    <div class="col-xs-6"><i class="icon-chevron-up" data-clipboard-text="icon-chevron-up"></i><span>icon-chevron-up</span></div>
    <div class="col-xs-6"><i class="icon-angle-up" data-clipboard-text="icon-angle-up"></i><span>icon-angle-up</span></div>
    <div class="col-xs-6"><i class="icon-user" data-clipboard-text="icon-user"></i><span>icon-user</span></div>
    <div class="col-xs-6"><i class="icon-trash-o" data-clipboard-text="icon-trash-o"></i><span>icon-trash-o</span></div>
    <div class="col-xs-6"><i class="icon-home" data-clipboard-text="icon-home"></i><span>icon-home</span></div>
    <div class="col-xs-6"><i class="icon-clock-o" data-clipboard-text="icon-clock-o"></i><span>icon-clock-o</span></div>
    <div class="col-xs-6"><i class="icon-lock" data-clipboard-text="icon-lock"></i><span>icon-lock</span></div>
    <div class="col-xs-6"><i class="icon-edit" data-clipboard-text="icon-edit"></i><span>icon-edit</span></div>
    <div class="col-xs-6"><i class="icon-calendar" data-clipboard-text="icon-calendar"></i><span>icon-calendar</span></div>
    <div class="col-xs-6"><i class="icon-unlock" data-clipboard-text="icon-unlock"></i><span>icon-unlock</span></div>
    <div class="col-xs-6"><i class="icon-unlock-alt" data-clipboard-text="icon-unlock-alt"></i><span>icon-unlock-alt</span></div>
</div>
</div>
