<div class="font-icon row">
    <div class="col-xs-6"><i class="icon-folder"></i><span>icon-folder</span></div>
    <div class="col-xs-6"><i class="icon-upload"></i><span>icon-upload</span></div>
    <div class="col-xs-6"><i class="icon-tasks"></i><span>icon-tasks</span></div>
    <div class="col-xs-6"><i class="icon-dashboard"></i><span>icon-dashboard</span></div>
    <div class="col-xs-6"><i class="icon-sitemap"></i><span>icon-sitemap</span></div>
    <div class="col-xs-6"><i class="icon-folder-o"></i><span>icon-folder-o</span></div>
    <div class="col-xs-6"><i class="icon-toggle-off"></i><span>icon-toggle-off</span></div>
    <div class="col-xs-6"><i class="icon-toggle-on"></i><span>icon-toggle-on</span></div>
    <div class="col-xs-6"><i class="icon-check-circle"></i><span>icon-check-circle</span></div>
    <div class="col-xs-6"><i class="icon-exclamation-circle"></i><span>icon-exclamation-circle</span></div>
    <div class="col-xs-6"><i class="icon-help_outline"></i><span>icon-help_outline</span></div>
    <div class="col-xs-6"><i class="icon-search2"></i><span>icon-search2</span></div>
    <div class="col-xs-6"><i class="icon-star"></i><span>icon-star</span></div>
    <div class="col-xs-6"><i class="icon-stop"></i><span>icon-stop</span></div>
    <div class="col-xs-6"><i class="icon-chevron-right"></i><span>icon-chevron-right</span></div>
    <div class="col-xs-6"><i class="icon-chevron-down"></i><span>icon-chevron-down</span></div>
    <div class="col-xs-6"><i class="icon-square-o"></i><span>icon-square-o</span></div>
    <div class="col-xs-6"><i class="icon-exchange"></i><span>icon-exchange</span></div>
    <div class="col-xs-6"><i class="icon-angle-double-right"></i><span>icon-angle-double-right</span></div>
    <div class="col-xs-6"><i class="icon-angle-right"></i><span>icon-angle-right</span></div>
    <div class="col-xs-6"><i class="icon-angle-down"></i><span>icon-angle-down</span></div>
    <div class="col-xs-6"><i class="icon-exclamation"></i><span>icon-exclamation</span></div>
    <div class="col-xs-6"><i class="icon-play-circle"></i><span>icon-play-circle</span></div>
    <div class="col-xs-6"><i class="icon-minus-square-o"></i><span>icon-minus-square-o</span></div>
    <div class="col-xs-6"><i class="icon-toggle-down"></i><span>icon-toggle-down</span></div>
    <div class="col-xs-6"><i class="icon-long-arrow-down"></i><span>icon-long-arrow-down</span></div>
    <div class="col-xs-6"><i class="icon-long-arrow-up"></i><span>icon-long-arrow-up</span></div>
    <div class="col-xs-6"><i class="icon-check-square-o"></i><span>icon-check-square-o</span></div>
    <div class="col-xs-6"><i class="icon-equals"></i><span>icon-equals</span></div>
    <div class="col-xs-6"><i class="icon-drag_handle"></i><span>icon-drag_handle</span></div>
    <div class="col-xs-6"><i class="icon-warning-outline"></i><span>icon-warning-outline</span></div>
    <div class="col-xs-6"><i class="icon-chevron-left"></i><span>icon-chevron-left</span></div>
    <div class="col-xs-6"><i class="icon-angle-left"></i><span>icon-angle-left</span></div>
    <div class="col-xs-6"><i class="icon-check"></i><span>icon-check</span></div>
    <div class="col-xs-6"><i class="icon-close"></i><span>icon-close</span></div>
    <div class="col-xs-6"><i class="icon-plus"></i><span>icon-plus</span></div>
    <div class="col-xs-6"><i class="icon-minus"></i><span>icon-minus</span></div>
    <div class="col-xs-6"><i class="icon-chevron-up"></i><span>icon-chevron-up</span></div>
    <div class="col-xs-6"><i class="icon-angle-up"></i><span>icon-angle-up</span></div>
    <div class="col-xs-6"><i class="icon-user"></i><span>icon-user</span></div>
    <div class="col-xs-6"><i class="icon-trash-o"></i><span>icon-trash-o</span></div>
    <div class="col-xs-6"><i class="icon-home"></i><span>icon-home</span></div>
    <div class="col-xs-6"><i class="icon-clock-o"></i><span>icon-clock-o</span></div>
    <div class="col-xs-6"><i class="icon-lock"></i><span>icon-lock</span></div>
    <div class="col-xs-6"><i class="icon-edit"></i><span>icon-edit</span></div>
    <div class="col-xs-6"><i class="icon-calendar"></i><span>icon-calendar</span></div>
    <div class="col-xs-6"><i class="icon-unlock"></i><span>icon-unlock</span></div>
    <div class="col-xs-6"><i class="icon-unlock-alt"></i><span>icon-unlock-alt</span></div>
</div>
