<nav>
    <ul class="pagination">
        <li class="disabled"><a></a></li>
        <li class="disabled"><a></a></li>
        <li class="active"><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li><a>5</a></li>
        <li><a>...</a></li>
        <li><a></a></li>
        <li><a class="last-page-btn"></a></li>
        <li class="gopage">
            <input class="form-control" type="text">
            <a class="btn btn-default">跳转</a>
        </li>
    </ul>
</nav>
<nav>
    <ul class="pagination">
        <li><a></a></li>
        <li><a></a></li>
        <li class="active"><a>1</a></li>
        <li><a>2</a></li>
        <li class="active"><a>3</a></li>
        <li><a>4</a></li>
        <li><a>5</a></li>
        <li><a>6</a></li>
        <li><a>...</a></li>
        <li><a></a></li>
        <li><a></a></li>
    </ul>
</nav>
<nav>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</nav>
