<div class="popover top">
    <div class="arrow"></div>
    <div class="popover-title">Popover top</div>
    <div class="popover-content">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
</div>
<div class="popover right">
    <div class="arrow"></div>
    <div class="popover-title">Popover right</div>
    <div class="popover-content">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
</div>
<div class="popover bottom">
    <div class="arrow"></div>
    <div class="popover-title">Popover bottom</div>
    <div class="popover-content">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
</div>
<div class="popover left">
    <div class="arrow"></div>
    <div class="popover-title">Popover left</div>
    <div class="popover-content">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
</div>
<div class="clearfix"></div>
