<div id="popup">  
    <div class="rows clearfix" style="margin:40px;">
        <div class="col-md-6">
            <button class="btn btn-default" id="popover1">title弹窗</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default" id="popover2">title+content弹窗</button>
        </div>
    </div>
    <div class="rows clearfix" style="margin:40px;">
        <div class="col-md-6">
            <button class="btn btn-default" id="popover3">content弹窗</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default" id="popover4">content hover</button>
        </div>
    </div>
</div>