$head-width: 100% !default; //头部宽
$head-height: 60px !default; //头部固定高

$bd-fixed-width: 980px !default; //内容固定宽

$side-fixed-width: 110px !default; //侧边固定宽
$side-content-gap: 20px !default;  //侧边与主体内容间隙