//基本颜色
$white-base: #fff !default;
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 11.5%) !default; // #1d1d1d
$gray-dark: lighten($gray-base, 29%) !default; // #4a4a4a
$gray: lighten($gray-base, 50%) !default; // #808080
$gray-little-light:lighten($gray-base, 60.9%) !default; // #9b9b9b
$gray-light: lighten($gray-base, 79.3%) !default; // #cacaca
$gray-hover: lighten($gray-base, 90%) !default; // #e6e6e6
$gray-lighter: lighten($gray-base, 90.5%) !default; // #e7e7e7
//## Font, line-height, and color for body text, headings, and more.
$font-size-base: 14px !default;
$font-size-large: 16px !default; //
$font-size-small: 12px !default; //
//布局变量
$g-min-width:1080px !default;
$head-width: 100% !default; //头部宽
$head-padding-top: 21px !default; //头部宽
$head-padding-bottom: 15px !default; //头部宽
$head-height: 76px !default; //头部固定高
$min-width:1080px !default; //最小宽度
$logo-line-height:35px !default;
$g-title-font-size:18px !default;
$g-title-line-height:24px !default;
$g-title-margin-top:16px !default;
$g-title-padding-top:16px !default;
$g-line-bg-color:#DCEAF3 !default;
$u-info-margin-top:19px !default;
$u-info-line-height:19px !default;
$g-left-menu-width:264px !default;
$g-right-container-padding:20px !default;
$m-title-bg-color:#DCEAF4 !default;
$m-title-height:40px !default;
$m-title-line-height:40px !default;
$m-title-padding-left:20px !default;
$m-title-margin-bottom:10px !default;
$m-sub-title-bg-color:#F7F8FA !default;
$m-sub-title-margin-bottom:20px !default;
$m-block-margin-bottom:20px !default;
$m-block-gray-padding-top:30px !default;
$m-block-gray-padding-left:20px !default;
$m-block-gray-bg-color:#F7F8FA !default;
$m-text-block-color:#666 !default;
$margin-base:20px !default;
$m-welcome-title-margin-top:40px !default;
$m-text-line-height:22px !default;
