<!DOCTYPE html>
<html lang="en">
<%
    function includeMD(file) {
        var text = include(file);
        return converter.makeHtml(text);
    }
    function includeMDJs(file) {
        var text = include(file);
        return converter.makeHtml('```javascript\n' + text + '\n```');
    }

%>

    <head>
        <meta charset="UTF-8">
        <title>shark-css组件库_shark组件平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Keywords" content="shark,html,css,jquery,angular,angular2,bootstrap,组件库,前端组件库">
        <meta name="description" content="shark组件平台，是包含了css框架、jquery、angular、angular2、bootstrap组件库的前端组件平台。">
        <link rel="icon" type="image/png" href="/favicon.ico" />
        <!-- build:css /style/css/example.css -->
        <link rel="stylesheet" href="/style/css/examples/test.css">
        <!-- endbuild -->
        <style type="text/css">
            @font-face {
                font-family: 'icomoon';
                src: url('/shark-css/font/icomoon.eot?uazhrw');
                src: url('/shark-css/font/icomoon.eot?uazhrw#iefix') format('embedded-opentype'),
                url('/shark-css/font/icomoon.ttf?uazhrw') format('truetype'),
                url('/shark-css/font/icomoon.woff?uazhrw') format('woff'),
                url('/shark-css/font/icomoon.svg?uazhrw#icomoon') format('svg');
                font-weight: normal;
                font-style: normal;
            }

        </style>
    </head>

    <body class="fix-head">
        <%- headContent %>
            <div class="g-bd side-in-right">
                <div class="g-side">
                    <div class="bs-docs-sidebar">
                        <ul class="nav nav-stacked" id="sideNav">
                            <li><a href="#head">回到顶部</a></li>
                            <li>
                                <a href="#buttons">按钮</a>
                                <ul class="nav">
                                    <li><a href="#buttons-options">预定义样式</a></li>
                                    <li><a href="#buttons-sizes">尺寸</a></li>
                                    <li><a href="#buttons-block">按钮变为块元素</a></li>
                                    <li><a href="#buttons-status">按钮状态</a></li>
                                    <li><a href="#buttons-tags">按钮类</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#forms">表单类控件</a>
                                <ul class="nav">
                                    <li><a href="#forms-example">基本实例</a></li>
                                    <li><a href="#forms-inline">内联表单</a></li>
                                    <li><a href="#forms-horizontal">水平排列的表单</a></li>
                                    <li><a href="#forms-controls">被支持的控件</a></li>
                                    <li><a href="#forms-controls-static">静态控件</a></li>
                                    <li><a href="#forms-control-focus">焦点状态</a></li>
                                    <li><a href="#forms-control-disabled">禁用状态</a></li>
                                    <li><a href="#forms-control-readonly">只读状态</a></li>
                                    <li><a href="#forms-control-validation">校验状态</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#nav">导航</a>
                                <ul class="nav">
                                    <li><a href="#nav-tabs">标签页</a></li>
                                    <li><a href="#nav-pills">胶囊式标签页</a></li>
                                    <li><a href="#nav-stacked">垂直方向堆叠排列</a></li>
                                    <li><a href="#nav-justified">两端对齐的标签页</a></li>
                                    <li><a href="#nav-underline">水平带下划线导航</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#tables">表格</a>
                                <ul class="nav">
                                    <li><a href="#tables-example">基本实例</a></li>
                                    <li><a href="#tables-striped">条纹状表格</a></li>
                                    <li><a href="#tables-bordered">带边框的表格</a></li>
                                    <li><a href="#tables-hover-rows">鼠标悬停</a></li>
                                    <li><a href="#tables-condensed">紧缩表格</a></li>
                                    <li><a href="#tables-contextual-classes">状态类</a></li>
                                    <li><a href="#tables-responsive">响应式表格</a></li>
                                </ul>
                            </li>
                            <li><a href="#autoComplete">自动完成、辅助输入</a></li>
                            <li><a href="#fontIcon">字体图标</a></li>
                            <li><a href="#pageHeader">头部大标题</a></li>
                            <li><a href="#pagination">分页控件</a></li>
                            <li><a href="#popover">浮出层</a></li>
                            <li><a href="#select">选择器</a></li>
                            <li><a href="#toastr">提示框</a></li>
                            <li><a href="#tree">树组件</a></li>
                            <li><a href="#modal">模态框</a></li>
                        </ul>
                    </div>
                </div>
                <div class="g-content">
                    <h1 id="useage" class="page-header">CSS组件库引用方式</h1>
                    <% include components/useage.html %>

                        <h1 id="buttons" class="page-header">按钮</h1>
                        <% include components/Button/buttons-options.html %>
                            <% include components/Button/buttons-sizes.html %>
                                <% include components/Button/buttons-block.html %>
                                    <% include components/Button/buttons-status.html %>
                                        <% include components/Button/buttons-tags.html %>

                                            <h1 id="forms" class="page-header">表单</h1>
                                            <% include components/Form/forms-example.html %>
                                                <% include components/Form/forms-inline.html %>
                                                    <% include components/Form/forms-horizontal.html %>
                                                        <% include components/Form/forms-controls.html %>
                                                            <% include components/Form/forms-controls-static.html %>
                                                                <% include components/Form/forms-control-focus.html %>
                                                                    <% include components/Form/forms-control-disabled.html %>
                                                                        <% include components/Form/forms-control-readonly.html %>
                                                                            <% include components/Form/forms-control-validation.html %>

                                                                                <h1 id="nav" class="page-header">导航</h1>
                                                                                <% include components/Navigation/nav-tabs.html %>
                                                                                    <% include components/Navigation/nav-pills.html %>
                                                                                        <% include components/Navigation/nav-stacked.html %>
                                                                                            <% include components/Navigation/nav-justified.html %>
                                                                                                <% include components/Navigation/nav-underline.html %>

                                                                                                    <h1 id="tables" class="page-header">表格</h1>
                                                                                                    <% include components/Table/tables-example.html %>
                                                                                                        <% include components/Table/tables-striped.html %>
                                                                                                            <% include components/Table/tables-bordered.html %>
                                                                                                                <% include components/Table/tables-hover-rows.html %>
                                                                                                                    <% include components/Table/tables-condensed.html %>
                                                                                                                        <% include components/Table/tables-contextual-classes.html %>
                                                                                                                            <% include components/Table/tables-responsive.html %>

                                                                                                                                <% include components/autoComplete.html %>
                                                                                                                                    <% include components/fontIcon.html %>
                                                                                                                                        <% include components/pageHeader.html %>
                                                                                                                                            <% include components/pagination.html %>
                                                                                                                                                <% include components/popover.html %>
                                                                                                                                                    <% include components/popup.html %>
                                                                                                                                                        <% include components/select.html %>
                                                                                                                                                            <% include components/toastr.html %>
                                                                                                                                                                <% include components/tree.html %>
                                                                                                                                                                    <% include components/modal.html %>
                </div>
            </div>
            <div class="colorName">
                <div class="nav-bar" nav="">
                    <a class="nav-title js-group-title showList" href="javascript:void(0);">
                        <i></i><span>首页</span>
                    </a>
                    <div class="nav-wrap js-group-wrap" style="display: block;">
                        <a nav-module="welcome" ng-click="go('welcome')" class="nav-item active" href="javascript:void(0);">首页</a>
                        <a nav-module="" class="nav-item" href="javascript:void(0);">帮助文档</a>
                    </div>
                    <a class="nav-title js-group-title" href="javascript:void(0);">
                        <i></i><span>供应商管理</span>
                    </a>
                    <div class="nav-wrap js-group-wrap" style="display: none;">
                        <a nav-module="account-security" ng-click="go('account-security')" class="nav-item" href="javascript:void(0);">账号安全</a>
                    </div>
                    <a class="nav-title js-group-title" href="javascript:void(0);">
                        <i></i><span>采购单汇总</span>
                    </a>
                    <div class="nav-wrap js-group-wrap">
                        <a nav-module="purchase-order-list" ng-click="go('purchase-order-list',{state:0})" class="nav-item" href="javascript:void(0);">未完结汇总</a>
                        <a nav-module="purchase-order-completelist" ng-click="go('purchase-order-completelist',{state:4})" class="nav-item" href="javascript:void(0);">已完结汇总</a>
                    </div>
                    <a class="nav-title js-group-title" href="javascript:void(0);">
                        <i></i><span>采购单排期管理</span>
                    </a>
                    <div class="nav-wrap js-group-wrap">
                        <a nav-module="produce-schedule-precommit" ng-click="go('produce-schedule-precommit',{state:1})" class="nav-item" href="javascript:void(0);">待提交排期</a>
                        <a nav-module="produce-schedule-preconfirm" ng-click="go('produce-schedule-preconfirm',{state:2})" class="nav-item" href="javascript:void(0);">待严选确认排期</a>
                        <a nav-module="produce-schedule-presuccess" ng-click="go('produce-schedule-presuccess',{state:3})" class="nav-item" href="javascript:void(0);">生效中排期</a>
                    </div>
                    <a class="nav-title js-group-title" href="javascript:void(0);">
                        <i></i><span>采购单质检管理</span>
                    </a>
                    <div class="nav-wrap js-group-wrap">
                        <a nav-module="qc-purchase-order-list" ng-click="go('qc-purchase-order-list')" class="nav-item" href="javascript:void(0);">等待预约质检采购单</a>
                        <a nav-module="order-schedule-list" ng-click="go('order-schedule-list',{state:0})" class="nav-item" href="javascript:void(0);">已预约待排期列表</a>
                        <a nav-module="schedule-qc-list" ng-click="go('schedule-qc-list',{state:1})" class="nav-item" href="javascript:void(0);">已排期待质检列表</a>
                    </div>
                    <a class="nav-title js-group-title" href="javascript:void(0);">
                        <i></i><span>采购单入库管理</span>
                    </a>
                    <div class="nav-wrap js-group-wrap">
                        <a nav-module="instock-purchase-order-list" ng-click="go('instock-purchase-order-list')" class="nav-item" href="javascript:void(0);">等待预约入库单据</a>
                        <a nav-module="instock-ordered-list" ng-click="go('instock-ordered-list')" class="nav-item" href="javascript:void(0);">已预约待入库列表</a>
                        <a nav-module="instock-scheduled-list" ng-click="go('instock-scheduled-list')" class="nav-item" href="javascript:void(0);">已排期待入库列表</a>
                        <a nav-module="instock-dispatched-list" ng-click="go('instock-dispatched-list')" class="nav-item" href="javascript:void(0);">已发货待入库列表</a>
                    </div>
                    <a class="nav-title js-group-title" href="javascript:void(0);">
                        <i></i><span>订单发货管理</span>
                    </a>
                    <div class="nav-wrap js-group-wrap" style="display: none;">
                        <a nav-module="external-order-export" ng-click="go('external-order-export')" class="nav-item" href="javascript:void(0);">订单导出发货</a>
                        <a nav-module="external-order-update" ng-click="go('external-order-update')" class="nav-item" href="javascript:void(0);">上传发货物流</a>
                    </div>
                </div>
            </div>
            <div class="form-horizontal-label-4-1 row  form-data">
                <div class="form-group col-sm-3">
                    <label class="control-label">采购单号：</label>
                    <div class="control-input">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="model.searchForm.purchaseOrder">
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label">SKUID：</label>
                    <div class="control-input">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-numcheck" ng-model="model.searchForm.skuId"
                            numcheck="" name="skuid">
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label">单据类型：</label>
                    <div class="control-input">
                        <sharkselecter name="type" ng-model="model.searchForm.type" data="model.typeData" actual-key="'value'" display-key="'name'"
                            on-select="onSelect" class="ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse">
                            <div class="shark-selecter position-relative"> <a class="selecter">            <span class="value">考拉采购单(人工)</span>            <span class="caret"></span>        </a>                                </div>
                        </sharkselecter>
                    </div>
                </div>
                <!-- ngIf: model.listType==0 -->
            </div>
            <div class="bs-example">
                <form class="form form-inline" role="form" name="formValidator" novalidate form-Validator="">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="control-label">采购单号：</label>
                            <div class="form-input form-text ">
                                <span>YXHZ-12344-1223-1224</span>
                            </div>
                        </div>
                        <div class=" form-group col-sm-4">
                            <label class="control-label">性别：</label>
                            <div class="form-input">
                                <label class="radio-inline">
                            <input type="radio" ng-model="model.defaultSupplier" ng-value="false" name="defaultSupplier" class="ng-valid ng-not-empty ng-dirty ng-touched" value="false" aria-invalid="false" style=""> <span>男</span>
                        </label>
                                <label class="radio-inline">
                            <input type="radio" ng-model="model.defaultSupplier" ng-value="true" name="defaultSupplier" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" value="true" aria-invalid="false" style=""> <span>女</span>
                        </label>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" form-group col-sm-5">
                            <label class="control-label">喜欢的水果：</label>
                            <div class="form-input">
                                <label class="checkbox-inline">
                            <input type="checkbox" ng-model="model.defaultSupplier1" ng-value="false" name="defaultSupplier" class="ng-valid ng-not-empty ng-dirty ng-touched" value="false" aria-invalid="false" style=""> <span>香蕉</span>
                        </label>
                                <label class="checkbox-inline">
                            <input type="checkbox" ng-model="model.defaultSupplier2" ng-value="false" name="defaultSupplier" class="ng-valid ng-not-empty ng-dirty ng-touched" value="false" aria-invalid="false" style=""> <span>苹果</span>
                        </label>
                                <label class="checkbox-inline">
                            <input type="checkbox" ng-model="model.defaultSupplie3r" ng-value="false" name="defaultSupplier" class="ng-valid ng-not-empty ng-dirty ng-touched" value="false" aria-invalid="false" style=""> <span>梨</span>
                        </label>
                                <label class="checkbox-inline">
                            <input type="checkbox" ng-model="model.defaultSupplier4" ng-value="false" name="defaultSupplier" class="ng-valid ng-not-empty ng-dirty ng-touched" value="false" aria-invalid="false" style=""> <span>西瓜</span>
                        </label>


                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">SKU ID：</label>
                            <div class="form-input">
                                <input type="text" class="form-control" ng-model="model.searchForm.skuId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="form-group col-sm-12 ">
                            <label class="control-label">主供品类：</label>
                            <div class="form-input">
                                <textarea style="height:150px;width:100%" ng-model="formData.mainCategory" name="mainCategory" countchars="100" maxlimit="200" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                    aria-invalid="false"></textarea>
                                <div class="text-right help-block">还可以输入<span id="007B3EFC-34AF-49B3-B4E4-FD87E3EBC193">100</span>个字</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="control-label">采购单号：</label>
                            <div class="form-input">
                                <input type="text" class="form-control" ng-model="model.searchForm.purchaseOrder">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">SKU ID：</label>
                            <div class="form-input">
                                <input type="text" class="form-control" ng-model="model.searchForm.skuId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">SKU ID：</label>
                            <div class="form-input">
                                <input type="text" class="form-control" ng-model="model.searchForm.skuId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-1">
                                <button ng-disabled="model.searchForm.purchaseOrder==='' && model.searchForm.skuId==='' " type="button" class="btn btn-l btn-primary"
                                    ng-click="search()">查询</button>
                            </div>
                        </div>
                    </div>

                </form>
                <form class="form form-horizontal" role="form" name="formValidator" novalidate form-Validator="">
                      <div class="form-group ">
                            <label class="control-label col-sm-2"><span class="text-danger">*&nbsp;</span>供应商名称：</label>
                            <div class="form-input form-text ">
                               阿拉丁神灯
                            </div>
                        
                    </div>
                    <div class="form-group ">
                        <!--<div class="col-sm-5">-->
                            <label class="control-label col-sm-2" for="supContacterName">供应商联系人：</label>
                            <div class="form-input">
                                <input required type="text" class="form-control" ng-model="model.supplier.supContacterName" name="supContacterName">
                            </div>
                        <!--</div>-->
                    </div>
                    <div class="form-group ">
                        <!--<div class="col-sm-6">-->
                            <label class="control-label col-sm-2" for="supContacterPhone">供应商联系电话：</label>
                            <div class="form-input">
                                <input required type="text" class="form-control" ng-model="model.supplier.supContacterPhone" name="supContacterPhone">
                            </div>
                        <!--</div>-->
                    </div>
                    <div class="form-group ">
                        <!--<div class="col-sm-12 ">-->
                            <label class="control-label col-sm-2" for="address"><span class="text-danger">*&nbsp;</span> 供应商验货地址：</label>
                            <div class="form-input">
                                <div class="col-sm-2 form-input-group-item">
                                    <select required not-show-flag selectcheck name="province" ng-model="model.supplier.province" ng-options="province.zoneName for province in Area.provinces track by province.id"
                                        ng-change="getCity(model.supplier.province.id)" class="form-control">
                                </select>
                                </div>
                                <div class="col-sm-2 form-input-group-item">
                                    <select required not-show-flag selectcheck name="city" ng-model="model.supplier.city" ng-options="city.zoneName for city in Area.citys track by city.id"
                                        ng-change="getDistrict(model.supplier.city.id)" class="form-control">
                                </select>
                                </div>
                                <div class="col-sm-2 form-input-group-item">
                                    <select required not-show-flag selectcheck name="district" ng-model="model.supplier.district" ng-options="district.zoneName for district in Area.districtes track by district.id"
                                        class="form-control">
                                </select>
                                </div>
                                <div class="col-sm-4 form-input-group-item">
                                    <input required not-show-flag ng-model="model.supplier.address" name="address" type="text" class="form-control width-percent-60">
                                </div>
                            </div>
                        <!--</div>-->
                    </div>
                </form>
            </div>
            <% include layout/foot.html%>
    </body>

</html>
