<!DOCTYPE html>
<html lang="en">
<%
    function includeMD(file) {
        var text = include(file);
        return converter.makeHtml(text);
    }
    function includeMDJs(file) {
        var text = include(file);
        return converter.makeHtml('```javascript\n' + text + '\n```');
    }

%>

    <head>
        <meta charset="UTF-8">
        <title>shark-css组件库_shark组件平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Keywords" content="shark,html,css,jquery,angular,angular2,bootstrap,组件库,前端组件库">
        <meta name="description" content="shark组件平台，是包含了css框架、jquery、angular、angular2、bootstrap组件库的前端组件平台。">
        <link rel="icon" type="image/png" href="/favicon.ico" />
        <!-- build:css /style/css/example.css -->
        <link rel="stylesheet" href="/style/css/examples/test.css">
        <!-- endbuild -->
        <style type="text/css">
            @font-face {
                font-family: 'FontAwesome';
                src: url('/shark-css/font/FontAwesome.eot?lyuoqs');
                src: url('/shark-css/font/FontAwesome.eot?lyuoqs#iefix') format('embedded-opentype'), url('/shark-css/font/FontAwesome.ttf?lyuoqs') format('truetype'), url('/shark-css/font/FontAwesome.woff?lyuoqs') format('woff'), url('/shark-css/font/FontAwesome.svg?lyuoqs#FontAwesome') format('svg');
                font-weight: normal;
                font-style: normal;
            }

        </style>
    </head>

    <body class="fix-head">
        <%- headContent %>
            <div class="g-bd side-in-right">
                <div class="g-side">
                    <div class="bs-docs-sidebar">
                        <ul class="nav nav-stacked" id="sideNav">
                            <li><a href="#head">回到顶部</a></li>
                            <li>
                                <a href="#buttons">按钮</a>
                                <ul class="nav">
                                    <li><a href="#buttons-options">预定义样式</a></li>
                                    <li><a href="#buttons-sizes">尺寸</a></li>
                                    <li><a href="#buttons-block">按钮变为块元素</a></li>
                                    <li><a href="#buttons-status">按钮状态</a></li>
                                    <li><a href="#buttons-tags">按钮类</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#forms">表单类控件</a>
                                <ul class="nav">
                                    <li><a href="#forms-example">基本实例</a></li>
                                    <li><a href="#forms-inline">内联表单</a></li>
                                    <li><a href="#forms-horizontal">水平排列的表单</a></li>
                                    <li><a href="#forms-controls">被支持的控件</a></li>
                                    <li><a href="#forms-controls-static">静态控件</a></li>
                                    <li><a href="#forms-control-focus">焦点状态</a></li>
                                    <li><a href="#forms-control-disabled">禁用状态</a></li>
                                    <li><a href="#forms-control-readonly">只读状态</a></li>
                                    <li><a href="#forms-control-validation">校验状态</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#nav">导航</a>
                                <ul class="nav">
                                    <li><a href="#nav-tabs">标签页</a></li>
                                    <li><a href="#nav-pills">胶囊式标签页</a></li>
                                    <li><a href="#nav-stacked">垂直方向堆叠排列</a></li>
                                    <li><a href="#nav-justified">两端对齐的标签页</a></li>
                                    <li><a href="#nav-underline">水平带下划线导航</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#tables">表格</a>
                                <ul class="nav">
                                    <li><a href="#tables-example">基本实例</a></li>
                                    <li><a href="#tables-striped">条纹状表格</a></li>
                                    <li><a href="#tables-bordered">带边框的表格</a></li>
                                    <li><a href="#tables-hover-rows">鼠标悬停</a></li>
                                    <li><a href="#tables-condensed">紧缩表格</a></li>
                                    <li><a href="#tables-contextual-classes">状态类</a></li>
                                    <li><a href="#tables-responsive">响应式表格</a></li>
                                </ul>
                            </li>
                            <li><a href="#autoComplete">自动完成、辅助输入</a></li>
                            <li><a href="#fontIcon">字体图标</a></li>
                            <li><a href="#pageHeader">头部大标题</a></li>
                            <li><a href="#pagination">分页控件</a></li>
                            <li><a href="#popover">浮出层</a></li>
                            <li><a href="#select">选择器</a></li>
                            <li><a href="#toastr">提示框</a></li>
                            <li><a href="#tree">树组件</a></li>
                            <li><a href="#modal">模态框</a></li>
                        </ul>
                    </div>
                </div>
                <div class="g-content">
                    <h1 id="useage" class="page-header">CSS组件库引用方式</h1>
                    <% include components/useage.html %>

                        <h1 id="buttons" class="page-header">按钮</h1>
                        <% include components/Button/buttons-options.html %>
                            <% include components/Button/buttons-sizes.html %>
                                <% include components/Button/buttons-block.html %>
                                    <% include components/Button/buttons-status.html %>
                                        <% include components/Button/buttons-tags.html %>

                                            <h1 id="forms" class="page-header">表单</h1>
                                            <% include components/Form/forms-example.html %>
                                                <% include components/Form/forms-inline.html %>
                                                    <% include components/Form/forms-horizontal.html %>
                                                        <% include components/Form/forms-controls.html %>
                                                            <% include components/Form/forms-controls-static.html %>
                                                                <% include components/Form/forms-control-focus.html %>
                                                                    <% include components/Form/forms-control-disabled.html %>
                                                                        <% include components/Form/forms-control-readonly.html %>
                                                                            <% include components/Form/forms-control-validation.html %>

                                                                                <h1 id="nav" class="page-header">导航</h1>
                                                                                <% include components/Navigation/nav-tabs.html %>
                                                                                    <% include components/Navigation/nav-pills.html %>
                                                                                        <% include components/Navigation/nav-stacked.html %>
                                                                                            <% include components/Navigation/nav-justified.html %>
                                                                                                <% include components/Navigation/nav-underline.html %>

                                                                                                    <h1 id="tables" class="page-header">表格</h1>
                                                                                                    <% include components/Table/tables-example.html %>
                                                                                                        <% include components/Table/tables-striped.html %>
                                                                                                            <% include components/Table/tables-bordered.html %>
                                                                                                                <% include components/Table/tables-hover-rows.html %>
                                                                                                                    <% include components/Table/tables-condensed.html %>
                                                                                                                        <% include components/Table/tables-contextual-classes.html %>
                                                                                                                            <% include components/Table/tables-responsive.html %>

                                                                                                                                <% include components/autoComplete.html %>
                                                                                                                                    <% include components/fontIcon.html %>
                                                                                                                                        <% include components/pageHeader.html %>
                                                                                                                                            <% include components/pagination.html %>
                                                                                                                                                <% include components/popover.html %>
                                                                                                                                                    <% include components/popup.html %>
                                                                                                                                                        <% include components/select.html %>
                                                                                                                                                            <% include components/toastr.html %>
                                                                                                                                                                <% include components/tree.html %>
                                                                                                                                                                    <% include components/modal.html %>
                </div>
            </div>
            <div class="colorName">测试一下</div>
            <% include layout/foot.html%>
    </body>

</html>
