// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: 0px;
}

//调整checkBox和radio样式
.input-label {
    position: relative;
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"]+span:before {
    content: "";
    display: inline-block;
    width: $input-checkbox-width;
    height: $input-checkbox-width;
    vertical-align: middle;
    border: 1px solid $gray;
    margin-right: $input-checkbox-margin-right;
    border-radius: 0px;
    font: $icon-checkbox-font;
}

input[type="checkbox"]:checked+span:before {
    font-family: 'icomoon';
    content: $icon-list-selected;
    color: $icon-list-selected-color;
}

input[type="radio"]+span:before {
    content: "";
    display: inline-block;
    width: $input-checkbox-width;
    height: $input-checkbox-width;
    vertical-align: middle;
    margin-right: $input-checkbox-margin-right;
    border: 1px solid $gray;
    border-radius: 50%;
    font: $icon-checkbox-font;
}

input[type="radio"]:checked+span:before {
    font-family: 'icomoon';
    content: $icon-radio-selected;
    color: $icon-radio-selected-color;
}

input[type="radio"],
input[type="checkbox"] {
    &[disabled]+span:before,
    &.disabled+span:before,
    fieldset[disabled] &+span:before {
        border: 1px solid $gray-light;
        cursor: $cursor-disabled;
    }
}

// Common form controls
.form-control {
    @include box-shadow(none);
    @include transition(border-color ease-in-out 0s, box-shadow ease-in-out 0s);
    &:focus {
        border-color: $input-border;
        outline: 0;
        @include box-shadow(none);
    }
}

// Make form groups behave like rows
// Inline forms
// [converter] extracted as `@mixin form-inline` for libsass compatibility
.form-inline {
    @include form-inline;
    @media (min-width: $screen-sm-min) {
        .form-control {
            width: 100%;
        }
    }
    .row {
        @include make-row;
    }
}

.form-inline,
.form-horizontal {
    .form-group {
        line-height: $form-group-line-height;
        margin-bottom: $form-group-margin-bottom;
    } // 表单标签
    .control-label {
        margin-right: 10px;
        float: left;
        padding: 0;
        line-height: $form-group-line-height;
        font-size: $font-size-base;
    } // 表单项的信息块
    .form-input {
        overflow: hidden;
    } // 消除表单项信息块中的项间距
    .form-input-group-item {
        padding: 0;
    } // 表单文本
    .form-text {
        line-height: $form-group-line-height;
        font-size: $font-size-base;
    } // 水平选择框列表
    .radio-inline,
    .checkbox-inline {
        padding: 0 0 0 10px;
    }
}

.form-horizontal {
    .form-group {
        width: 100%;
    }
    @media (min-width: $screen-sm-min) {
        .control-label {
            padding-top: 0;
        }
    }
}

// Reset spacing and right align labels, but scope to media queries so that
// labels on narrow viewports stack the same as a default form example.
@media (min-width:1080px) {
    .control-label {
        text-align: right;
        margin-bottom: 0;
        vertical-align: middle;
        padding-top: 0;
        margin-right: 10px;
        float: left;
        padding: 0;
        line-height: $form-group-line-height;
        font-size: $font-size-base;
    }
}

// 在table中的多选
.checkbox-table {
    margin: 0px;
    padding-left: 9px;
}
