//
// Modals
// --------------------------------------------------
// Container that the modal scrolls within
.modal {
    outline: 0;
}

// Actual modal
.modal-content {
    border: 1px solid $modal-content-border-color;
    border-radius: 0;
    @include box-shadow(none);
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    background-color: $modal-header-color;
    border-bottom: 1px solid $modal-header-border-color;
}

// Close icon
.modal-header .close {
    &:active,
    &:focus {
        background-color: transparent;
        border-color: #fff;
        @include box-shadow(none);
        outline: 0;
    }
}

// Title text within header
.modal-title {
    text-align: center;
}
