//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
    border-radius: 0;
    >li {
        >a,
        >span {
            padding: 1px 7px 0px;
            border: 0;
            margin-left: 0px;
        }
        &:first-child {
            >a,
            >span {
                margin-left: 0;
                border-left-radius: 0px;
            }
        }
        &:last-child {
            >a,
            >span {
                border-right-radius: 0px;
            }
        }
    }
}
