//
// Tables
// --------------------------------------------------
table {
    border: 1px solid $table-border-color;
}

th {
    text-align: center;
}

.table-wrap {
    overflow-x: auto;
    width: 100%;
}

// Baseline styles
.table {
    >thead,
    >tbody,
    >tfoot {
        >tr {
            >th,
            >td {
                color: $table-body-color;
                text-align: center;
                border: 1px solid $table-border-color;
                line-height: $line-height-small;
                vertical-align: middle;
            }
        }
    } // Bottom align for column headings
    >thead>tr>th {
        color: $table-hd-color;
        vertical-align: middle;
        border-bottom: 0px;
    } // Remove top border from thead by default
    >caption+thead,
    >colgroup+thead,
    >thead:first-child {
        >tr:first-child {
            >th,
            >td {
                background-color: $table-hd-bg;
            }
        }
    }
}

// Bordered version
//
// Add borders all around the table and between all the columns.
.table-bordered {
    >thead>tr {
        >th,
        >td {
            border-bottom-width: 0px;
        }
    }
}
