<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-7">
        </colgroup>
        <thead>
            <tr>
                <th>Class</th>
                <th>描述</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <code>.active</code>
                </td>
                <td>鼠标悬停在行或单元格上时所设置的颜色</td>
            </tr>
            <tr>
                <td>
                    <code>.success</code>
                </td>
                <td>标识成功或积极的动作</td>
            </tr>
            <tr>
                <td>
                    <code>.info</code>
                </td>
                <td>标识普通的提示信息或动作</td>
            </tr>
            <tr>
                <td>
                    <code>.warning</code>
                </td>
                <td>标识警告或需要用户注意</td>
            </tr>
            <tr>
                <td>
                    <code>.danger</code>
                </td>
                <td>标识危险或潜在的带来负面影响的动作</td>
            </tr>
        </tbody>
    </table>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Column heading</th>
            <th>Column heading</th>
            <th>Column heading</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="success">
            <td>2</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="info">
            <td>3</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="warning">
            <td>4</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="danger">
            <td>5</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>
