<div class="explanation">
    <h2 id="buttons-options">预定义样式</h2>
    <p>使用下面列出的类可以快速创建一个带有预定义样式的按钮。</p>
</div>

<div class="bs-example">
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
</div>
