@charset "UTF-8";
/*树组件*/
/*分页组件*/
/*提示组件*/
/*selecter组件*/
/*listgroup组件*/
/*自动补全组件*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #444444;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 19px;
  margin-bottom: 19px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled, .btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:focus, .btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle {
  background-image: none;
}

.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}

.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success:active, .btn-success.active,
.open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.btn-success:active, .btn-success.active,
.open > .btn-success.dropdown-toggle {
  background-image: none;
}

.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  background-image: none;
}

.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}

.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-warning:active, .btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus,
.open > .btn-warning.dropdown-toggle:hover,
.open > .btn-warning.dropdown-toggle:focus,
.open > .btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}

.btn-warning:active, .btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  background-image: none;
}

.btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-danger:active, .btn-danger.active,
.open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus,
.open > .btn-danger.dropdown-toggle:hover,
.open > .btn-danger.dropdown-toggle:focus,
.open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-danger:active, .btn-danger.active,
.open > .btn-danger.dropdown-toggle {
  background-image: none;
}

.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}

.btn-link:hover, .btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover, .btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
  color: #cccccc;
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

ul.shark-tree, ul.shark-tree * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shark-tree {
  font-size: 0;
}

.shark-tree li {
  padding: 2px 0px;
  list-style: none;
}

.shark-tree li label {
  display: block;
}

.shark-tree li ul {
  display: none;
}

.shark-tree li ul.tree-open {
  display: block;
}

.shark-tree .tree-icon, .shark-tree .tree-node-name {
  cursor: pointer;
  display: inline-block;
}

.shark-tree .tree-icon {
  font-size: 14px;
  width: 16px;
  height: 16px;
  vertical-align: top;
  background-size: 100% 100%;
  float: left;
}

.shark-tree .tree-node-name {
  font-size: 14px;
  /*height: $shark-tree-icon-size;*/
  line-height: 16px;
  display: block;
  overflow: hidden;
}

.shark-tree.disabled .tree-icon, .shark-tree.disabled .tree-node-name {
  cursor: default;
  color: #cccccc;
}

.shark-tree .tree-icon-check {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEUAAACIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIhjDG72AAAAD3RSTlMA5jtT4A+fSklAG/FeMSxlVxwlAAAASUlEQVQI12PAAhr/A8HHBgYGIRCPSYCB4QNY/AOEwbwAylAMgDBYncFSTBPYEsAMXmGTAIjiJzuhurgOwLWDSITJhWC7CuB2AwDh2iJE/F97swAAAABJRU5ErkJggg==);
}

.shark-tree .tree-icon-check-empty {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAD1BMVEUAAACIiIiIiIiIiIiIiIhTGFtKAAAABHRSTlMAS+fkeQRH8QAAACdJREFUCNdjwAKEXIDASYCBQRHEY1RgYHAAiztQiwE3GWqXswDcbgATkwfuFORrngAAAABJRU5ErkJggg==);
}

.shark-tree .tree-icon-check-minus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAD1BMVEUAAACIiIiIiIiIiIiIiIhTGFtKAAAABHRSTlMA5UxJT3aN7AAAACxJREFUCNdjwAIMXYDA0YCBQQjEYxJgYHAAizvgZ4gAdQk4EKMYbjLCLhgAAGMgCR1GQI2wAAAAAElFTkSuQmCC);
}

.shark-tree .tree-icon-right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAIVBMVEUAAACIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIgnTYS+AAAAC3RSTlMABrWdsJmqkwh6eVcUOkAAAAAxSURBVAjXY0ACXA1QBrsiTChIAMpghQuZwISYHWFCZnAGQgqhGKEdYSDCCs4GBmQAABs+A/AaJMGkAAAAAElFTkSuQmCC);
}

.shark-tree .tree-icon-down {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEUAAACIiIiIiIiIiIiIiIiIiIiIiIgPEjmxAAAAB3RSTlMAOzXjztlpaXfY9gAAACtJREFUCNdjIAmwCIBIFQYGJkMGKKEsAMJgHkQAxAUJgITMDKEaVQWItAEApMYCb1YUXYwAAAAASUVORK5CYII=);
}

.shark-tree .tree-node-selected {
  color: #ffffff;
  background-color: #222222;
}

.pagination {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-size: 14px;
  border-radius: 4px;
}

.pagination,
.pagination * {
  box-sizing: border-box;
}

.pagination ul,
.pagination li {
  margin: 0;
  padding: 0;
}

.pagination li {
  list-style: none;
}

.pagination a {
  text-decoration: none;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  cursor: pointer;
  float: left;
  padding: 6px 12px;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-left: -1px;
  line-height: 22px;
}

.pagination > li > a:hover,
.pagination > li > span:hover {
  background-color: #23527c;
  background-color: #f5f5f5;
}

.pagination > li.active > a:hover,
.pagination > li.active > span:hover {
  color: #ffffff;
  background-color: #337ab7;
}

.pagination > .disabled > a,
.pagination > .disabled > a:hover {
  cursor: not-allowed;
  color: #cccccc;
  background-color: #eeeeee;
}

.pagination > .active > a {
  cursor: default;
  color: #ffffff;
  background-color: #337ab7;
}

.pagination > .gopage {
  display: inline-block;
  vertical-align: top;
}

.pagination > .gopage .form-control {
  width: auto;
  max-width: 60px;
  height: 36px;
  display: inline-block;
  line-height: 22px;
  border: 1px solid #ddd;
  outline: none;
  margin-left: 10px;
  padding: 6px 12px;
  float: left;
  margin: 0 5px;
}

.pagination > .gopage .btn {
  cursor: pointer;
  width: auto;
  display: inline-block;
  line-height: 22px;
  outline: none;
  margin-left: -1px;
  vertical-align: top;
  background-color: #ffffff;
  text-align: center;
}

.pagination > .gopage .btn:hover {
  color: #ffffff;
  background-color: #444444;
}

.list-group {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  box-sizing: border-box;
  z-index: 1061;
  border-color: #ccc;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.list-group,
.list-group * {
  box-sizing: border-box;
}

.list-group ul,
.list-group li {
  margin: 0;
  padding: 0;
}

.list-group li {
  list-style: none;
}

.list-group .list-group-item {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 10px 15px;
  color: #444444;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}

.list-group .list-group-item:hover {
  color: #555;
  background: #f5f5f5;
}

.list-group .list-group-item:last-child, .list-group .list-group-item:last-child:hover {
  border-bottom: none;
  border-radius: 0 0 3px 3px;
}

.list-group .active, .list-group .active:hover {
  position: relative;
  left: 0;
  top: 0;
  color: #ffffff;
  background: #337ab7;
}

.list-group .active:before, .list-group .active:hover:before {
  content: "";
  position: absolute;
  left: 5px;
  display: inline-block;
  top: 50%;
  margin-top: -3px;
}

.list-group .active.point:before, .list-group .active:hover.point:before {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  background-color: #f50808;
}

.list-group .active.nike:before, .list-group .active:hover.nike:before {
  height: 6px;
  width: 3px;
  border-right: solid 1px #f50808;
  border-bottom: solid 1px #f50808;
  transform: rotate(45deg);
}

.list-group.shark-autocomplete-list-group {
  max-height: 300px;
}

.list-group.shark-dropdown-list-group {
  max-height: 400px;
  min-width: 160px;
}

.list-group.shark-selecter-list-group {
  max-height: 400px;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.shark-selecter {
  font-size: 14px;
}

.shark-selecter,
.shark-selecter * {
  box-sizing: border-box;
}

.shark-selecter .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-top: 4px solid #444444;
}

.shark-selecter .selecter {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  display: block;
  text-align: left;
  margin: 0;
  min-width: 100px;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #444444;
  background-color: #ffffff;
}

.shark-selecter .selecter .caret {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
}

.shark-selecter.open .caret {
  border-bottom: 4px solid #444444;
  border-top: 0 solid transparent;
}

.shark-selecter.open .selecter {
  border-radius: 3px 3px 0 0;
}

.shark-selecter.disabled .selecter {
  border: 1px solid #cccccc;
  color: #cccccc;
  background-color: #eeeeee;
}

.shark-toastr-container {
  width: 250px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -125px;
  z-index: 999999;
}

.toastr {
  padding: 10px 20px;
  border-radius: 3px;
  margin: 2px 0;
}

.toastr-error {
  color: #ffffff;
  background-color: #bd362f;
  border: 1px solid #d2b2b2;
}

.toastr-success {
  color: #ffffff;
  background-color: #51a351;
  border: 1px solid #8cc685;
}

.popover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1060;
  font-size: 14px;
  max-width: 286px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.popover,
.popover * {
  box-sizing: border-box;
}

.popover .popover-title {
  padding: 10px;
  color: #444444;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
}

.popover .popover-content {
  overflow-x: auto;
  overflow-y: auto;
  padding: 10px;
  color: #444444;
  background-color: #ffffff;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

.popover.right .arrow {
  left: -11px;
  top: 50%;
  margin-top: -11px;
  border-right: 11px solid #ddd;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: none;
}

.popover.right .arrow:after {
  content: '';
  left: 1px;
  top: -10px;
  border-right: 10px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: none;
}

.popover.left .arrow {
  right: -11px;
  top: 50%;
  margin-top: -11px;
  border-right: none;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #ddd;
}

.popover.left .arrow:after {
  content: '';
  right: 1px;
  top: -10px;
  border-right: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-right: 11px solid transparent;
  border-top: none;
  border-bottom: 11px solid #ddd;
  border-left: 11px solid transparent;
}

.popover.bottom .arrow:after {
  content: '';
  left: -10px;
  top: 1px;
  border-right: 10px solid transparent;
  border-top: none;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-right: 11px solid transparent;
  border-top: 11px solid #ddd;
  border-bottom: none;
  border-left: 11px solid transparent;
}

.popover.top .arrow:after {
  content: '';
  left: -10px;
  bottom: 1px;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  border-bottom: none;
  border-left: 10px solid transparent;
}

.shark-popover.shark-tooltip {
  border-radius: 6px;
}

.shark-popover.shark-tooltip .popover-content {
  color: #ffffff;
  background-color: #444444;
}

.shark-popover.shark-tooltip.right .arrow:after {
  border-right: 10px solid #444444;
}

.shark-popover.shark-tooltip.left .arrow:after {
  border-left: 10px solid #444444;
}

.shark-popover.shark-tooltip.bottom .arrow:after {
  border-bottom: 10px solid #444444;
}

.shark-popover.shark-tooltip.top .arrow:after {
  border-top: 10px solid #444444;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:before, .nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #337ab7;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a {
  color: #cccccc;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  color: #cccccc;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.nav-underline > li {
  float: left;
}

.nav-underline > li + li {
  margin-left: 2px;
}

.nav-underline > li.active > a, .nav-underline > li.active > a:hover, .nav-underline > li.active > a:focus {
  color: #888888;
}

.nav-underline > li.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #337ab7;
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header:before, .modal-header:after {
  content: " ";
  display: table;
}

.modal-header:after {
  clear: both;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:before, .nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a {
  color: #cccccc;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  color: #cccccc;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 1px;
  margin: 8.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #ddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #888888;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified, .nav-tabs.nav-justified {
  width: 100%;
}

.nav-justified > li, .nav-tabs.nav-justified > li {
  float: none;
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-justified > li, .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified, .nav-tabs.nav-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
.nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
  .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
code[class*="language-"]::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.g-head {
  width: 100%;
  min-width: 980px;
  height: 60px;
  overflow: hidden;
}

.g-head .g-header {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}

.g-bd {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.g-bd .g-side {
  width: 180px;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
  float: left;
}

.g-bd .g-side.fix-side {
  position: fixed;
  padding: 0;
  float: none;
}

.g-bd .g-content {
  margin-left: 200px;
}

body.fix-head .g-head {
  position: fixed;
  top: 0;
  left: 0;
}

body.fix-head .g-bd {
  margin-top: 60px;
}

.g-bd.side-in-right .g-side {
  float: right;
}

.g-bd.side-in-right .g-content {
  margin-left: 0;
  margin-right: 200px;
}

body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Arial", "Helvetica", "STHeiti", sans-serif;
}

/*head*/
.g-head {
  z-index: 400;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.g-head .logo img {
  width: 60px;
}

.g-head .nav {
  padding: 10px;
}

.g-side > .bs-docs-sidebar {
  margin-top: 40px;
}

@media screen and (max-width: 980px) {
  .g-bd, .g-head, .g-head .g-header {
    min-width: 780px;
    width: 100%;
  }
  .g-bd.side-in-right .g-content {
    margin-right: 0px;
  }
  .g-bd .g-side {
    display: none;
  }
}

/*example*/
.bs-example {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  padding: 45px 15px 15px;
  border-style: solid;
}

.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "实例：";
}

.bs-example-popover {
  height: 350px;
}

.bs-example-popover .popover {
  display: block;
}

.bs-example-popover .left {
  top: 50px;
  left: 10px;
}

.bs-example-popover .top {
  top: 50px;
  left: 400px;
}

.bs-example-popover .right {
  top: 200px;
  left: 0;
}

.bs-example-popover .bottom {
  top: 200px;
  left: 400px;
}

/*nav*/
.bs-docs-sidebar > .nav .nav {
  display: none;
  padding-bottom: 10px;
  font-weight: 500;
}

.bs-docs-sidebar > .nav .nav > li > a {
  padding-left: 20px;
  font-size: 13px;
}

.bs-docs-sidebar > .nav > .active > .nav {
  display: block;
}

.bs-docs-sidebar > .nav li a {
  padding: 1px 7px;
  color: #999;
}

.bs-docs-sidebar > .nav.nav-fixed {
  position: fixed;
  top: 20px;
}

.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}

.bs-docs-sidebar .nav > .active > a {
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
  font-weight: 700;
}

.font-icon {
  font-size: 24px;
}

.font-icon i {
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 40px;
}
